<header>
 <div id="logo">
<p>Social</p>
 </div>
<ul>
<% if (locals.user) { %>
<div class="right-corner">
    <li>
        <a href="/users/profile">
            <%=user.name%>
        </a>
    </li>
    
    <li>
        <a href="/users/sign-out">Sign out</a>
    </li>
</div>

<%} else{%>
<div class="right-corner">
    <li >
        <a  href="/users/sign-in">Sign in</a>
    </li>
    
    <li>
        <a  href="/users/sign-up">Sign up</a>
    </li>
</div>


<% } %>


</ul>




</header>