header{
    overflow: hidden;
    background-color: #286fe0;
    display: flex;
    justify-content: space-between;
}
#logo{
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    margin-left:5px ;
}
ul{
    list-style: none;

}
ul a{
    text-decoration: none;
    color: white;
}
.right-corner{
    display: flex;
    justify-content: space-around;
  text-align: center;
  margin-right: 5px;
  font-size: 20px;
}
/* #sign-in
{
    padding: 4px;
} */
.right-corner a{
    padding: 4px;
}